/* Adicionar aqui toda a estilização criada para sua aplicação. */

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

/* -------------------------- HEADER DO PROJETO -------------------------------- */
.titulo {
    color: #32b9cd;
    font-weight: 500;
}

.header {
    height: 80px;
    border-bottom: 2px solid #32b9cd;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header a{
    text-decoration: none;
    color: yellow;
}

.navbar {
    list-style-type: none;
    width: 500px;
    display: flex;
    justify-content: space-between;
    color:yellow;
}

/* ------------------- FOOTER ----------------------------- */

.footer {
    display: flex;
    background-color: #32b9cd;
    height: 100px;
    color:white;
    font-size: 15px;
}

.footer .container {
    width: 100%;
    justify-content: center;
}

.version {
    justify-content: center;
    font-size: 10px;
}

/*------------------------- BANNER INDEX ---------------------------*/

.banner {
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    height: 500px;
    color: white;
}

.banner .container {
    justify-content: center;
    height: 100%;
    align-items: center;
}

.banner .container p {
    font-size: 36px;
    width: 25%;
}

.banner .container span {
    font-weight: 800;
}

/* ----------------------------------- CONTEÚDO INDEX ------------------------------- */

.social {
    background-color: #e5e5e5;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.social .container .boxes {
    display:flex;
    text-align: center;
    justify-content: space-between;
}

.box {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    width: 170px;
}

.box h4 {
    color: red;
    font-weight: 900;
}

/* ------------------------- TELA LOGIN -------------------- */

.login {
    height: 500px;
    color: red;
    background-image: url("../assets/imgs/bg-jelly-fish-para_outras_pags.png");
}

.login .container {
    justify-content: center;
    height: 100%;
    align-items: center;
}

.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #e5e5e5;
    border-radius: 10px;
    color:palevioletred;
    padding: 20px 0;
}

.card h2 {
    margin: 0;
    font-size: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 80%;
    justify-content: space-around;
}

.formulario span {
    font-size: 15px;
    font-weight: 800;
}

.formulario input {
    border: 2px solid #32b9cd;
    text-align: center;
    border-radius: 10px;
    margin: 0;   
    height: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.botao {
    border-radius: 5px;
    cursor:pointer;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    color:white;
    background-color: #ED145B;
    width: 120px;
    height: 30px;
    align-self: center;
    margin-top: 10px;
}

.botao:hover {
    color: #ED145B;
    background-color: white;
    transition: 0.4s;
}